DNS/ACCEPT	all		net
#
#	Accept SSH connections from the local network for administration
#
SSH/ACCEPT	loc		$FW
#
#	Allow Ping from the local network
#
Ping/ACCEPT	loc		$FW

#
# Drop Ping from the "bad" net zone.. and prevent your log from being flooded..
#

Ping/DROP	net		$FW

ACCEPT		$FW		loc		icmp
ACCEPT		$FW		net		icmp
#

REJECT		net		all	tcp	135:139,80,25,22,1337
REJECT		all		net	tcp	135:139,25,1337

# SNMP
#ACCEPT	    vlan2:10.20.32.76	$FW	udp   	161 

# SSH
REJECT		net		$FW	tcp	22

# Div porter
#REJECT          vlan2           net     udp     1337

# portforwarding
#DNAT		net		loc:10.20.40.86		tcp	18506


# Sperre bruker
#REJECT	    vlan2:10.20.32.67	net

# sperre ip-adresser
#REJECT		net:95.211.88.51	vlan3

#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
